{
    "env": {
        "browser": true,
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    "extends": "airbnb",
    "rules": {
        "linebreak-style": ["error", "windows"],
        "import/prefer-default-export": "off",
        "trailing-comma": "off",
        "comma-dangle": "off"
    }
}